<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cortex Demo Tiles</title>
        <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="static/sprite.js"></script>
        <script src="static/main.js"></script>
        <script src="static/socket.io.js"></script>
        <style>
            html {
                overflow: hidden;
            }
        </style>
    </head>
    <body> 
    </body>
</html>
